.standard_form_container {
  position: fixed;
  margin-top: 1%;
  z-index: 10;
  background-color: black;
  top: 0;
  width: 35%;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 1px 33px 45px 8px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 1px 33px 45px 8px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 1px 33px 45px 8px rgba(0, 0, 0, 0.36);
}
.label_form {
  color: white;
  float: left;
  font-weight: bold;
}
