.container_landing{
    background-image: url(../assets//images//astronauta.png);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    height: max-content;
    display:block;
    margin-bottom: -31px;
}

.body_landing_container{
    position: relative;
    width: 100%;
    z-index: 2;
}

.logo_minerPro{
    width: 20%;
    float: left;
    margin-left: 9.5%;
    margin-top: 18%;
}

@media (max-width: 600px) {
    .logo_minerPro{
        width: 45%;
        float:none;
        margin-left: 0%;
    }
    .container_landing{
        background-image: none;
        background-size: cover;
        min-height: 100vh;
        height: max-content;
    }
    .body_landing_container{
        display: inline-block;
        margin-bottom: 45px;
    }
  }

@media (min-width:601px) and (max-width: 992px) {
    .logo_minerPro{
        width: 40%;
        float:none;
        margin-left: 0%;
        margin-top: 25%;
    }
    .container_landing{
        background-image: none;
        background-size: cover;
        min-height: 100vh;
        height: max-content;
    }
    .body_landing_container{
        display: inline-block;
        margin-bottom: 90px;
    }
}

@media (min-width:350px) and (max-width: 600px) {
    .logo_minerPro{
        width: 50%;
        float:none;
        margin-left: 0%;
        margin-top: 40%;
    }
}

@media (min-width:100px) and (max-width: 349px) {
    .logo_minerPro{
        width: 60%;
        float:none;
        margin-left: 0%;
        margin-top: 60%;
    }
}