.linkNavBar {
    font-size: .85rem;
    text-decoration: none;
    color: rgb(180, 180, 180);
    min-width: 12em;
    align-self: center;
    z-index: 1;
}
.linkNavBar:hover{
   color: white !important;
   font-weight: bolder;
}
.divider{
    color: white;
    font-size: 1.5rem;
    margin-top: .5em;
}

@media (max-width: 992px) {
    .divider {
        transform: rotate(90deg);
    }
    .container_navbar{
        background-color:black;
    }
  }