.container_products {
  width: 100%;
  min-height: 100vh;
  height: max-content;
  display: block;
  margin-bottom: -31px;
}
.cards_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2em;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 40%;
  margin: 1em;
}

.container_alert{
  background-color: white;
  z-index: 20;
  position: fixed;
  padding: 2em;
  width: 50%;
  margin-left:25%;
  top:80;
  border-radius:20px;
  box-shadow: 0px -3px 47px 7px rgba(0,0,0,0.23);
  -webkit-box-shadow: 0px -3px 47px 7px rgba(0,0,0,0.23);
  -moz-box-shadow: 0px -3px 47px 7px rgba(0,0,0,0.23);
}

.refresh_products{
  color: rgb(53, 228, 175);
  font-size: 2rem !important;
  position: absolute;
  margin-top: .9em;
  margin-left: 25%;
}

.refresh_products:hover{
  cursor: pointer;
}

@media (max-width: 500px) {
    .cards_container{
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 90%;
        margin: 1em;
      }
  }
